.container {
  background: #0c0c0c;
  height: 287px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &_wrapper {
    &_text {
      font-size: 16px;
      color: white;
    }

    &_logo {
      height: 55px;
      width: 137px;
      display: block;
    }
  }
    &_nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      padding: 0;
      width: 720px;

      &_element {
        color: white;
        font-weight: normal;
        font-size: 16px;
      }
    }
  }