.grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: 'nav content'
                      'footer footer';
}
  .nav{
    grid-area: nav;
    width: 320px;
  }
  .content {
    grid-area: content;

  }
  .footer {
    grid-area: footer;

  }

